@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Taner Han</h1>
    <p class="lead">Yildirim Beyazit University <br />
    ID: 1105011016</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

